#root {
  max-width: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #777;
}

.jersey-20-regular {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


